.ankit-hero-img {
  max-height: 700px;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.ankit-grid-product-img {
  height: 400px;
  object-fit: contain;
  object-position: center;
}

.ankit-grid-product .read-more {
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 0;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.514);
  color: white;
}

.ankit-grid-product:hover .read-more {
    opacity: 100%;
}

.ankit-grid-product:hover .read-more a {
    background-color: white;
}
